.size_title {
	display: inline-block;
	line-height: 20px;
	width: 100px;
}


.instawp-modal .media-modal-content {
	padding-left: 20px;
}

.instawp-modal .media-frame-title {
	position: relative;
	top: 0px;
	left: 0px;
}

.instawp-modal .media-frame-title {
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);
}

.instawp-modal .media-frame-title h1 {
	padding: 0 0 0 20px;
}

.instawp-modal .media-frame-content {
	left: 20px;
	top: 46px;
	bottom: 0px;
}

.instawp-modal-content {
	margin: 20px 320px 0 0;
}

.instawp-filter {
	margin-top: 20px;
	position: relative;
}

.instawp-filter div {
	background: rgba(220,220,220,0.8);
	position: absolute;
	bottom: 0px;
	padding: 5px 0px;
	text-align: center;
	width: 100%;
}


.instawp-modal img {
	max-width: 100%;
}